<footer id ="rodape">
    <div class="footer">
    <p>Copyright&copy;2020 - by Alex Buttielie <br>
   
    <a href= "https://www.facebook.com/alex.buttielle" target="_blank">  <img  class="facebook" src="img/iconFacebook.png" > </a> |
    <a href=" https://www.instagram.com/alex_buttielie/?hl=pt-br" target="_blank" >    <img  class="facebook" src="img/iconInstagram.jpeg" ></a>| 
    <a href="https://twitter.com/Alekqss" target="_blank" > <img  class="facebook" src="img/iconTwitter.png" > </a>|
    <a href="https://github.com/Alex-Buttielie" target="_blank" > <img  class="facebook" src="img/iconGitHub.png" > </a>
</p>

</div>
</footer>