<body class=" body">
 <div class="col-12 lex body" ng-controller="portifolioController as vm">
     
        <img class="col-5 imagem3" src="img/alex2.jpg" >
        <!--col-Ig- 10 col-xs-10 col-sm-10 col-md-10 -->
        <h1 class="nomeLogo">Alex Dev</h1>
        <nav id="menu">
            <ul type="disc">
                <li class="sobre"><a id="textSobre" href="index.html">Sobre</a></li>
                <li id="ajuda"><a id="textSobre" href="">Ajuda</a></li>
                <li id="recurso"><a id="textSobre" href="">Recursos </a></li>
                <li id="inscreva"><a id="textSobre" href="">Inscreva-se</a></li>
            </ul>
        </nav>
        <h2 class="col-5
        segundoTitulo">Hey, seja bem-vindo(a)</h2>
        <button  id="meConheca" class="col-5 btn btn-primary">Me conheça</button>
        <p class="col-10 textoApresentacao">Olá me chamo Alex Buttielie estou fazendo faculdade de sistemas de informação na Universidade Estadual de Goiás sou desenvolvedor backend, frontend e estou disposto a mostrar aqui os meus trabalhos, habildades e que posso ajudar a resolver seu problema.</p>
        <h2 class="col-10 fabricaDeSoftware">Sobre a fabrica de software</h2>
        <p class="col-10 sobreFabricaDeSoftware">Aqui você encontrará landing pages, softwares institucional e ecommerce com qualidade desenvolvidos atendendo as melhores práticas de programação com prazos reais e feedbacks constantes do andamento do projeto.</p>
 
    <div class="col-12 caracteristica">
            <h1 class="tituloQualidadeSoftware">Procura sempre novas tecnologias</h1>
            <h1 class="tituloDisponibilidadeServico">Acesso 24 horas</h1>
            <h1 class="tituloImpressao">impressão</h1>
            <h1 class="tituloDedicacaoTrabalho">Código seguro</h1>
        
            <div class="teste">
            <h2 class="retangulo1">
                <p class="retanguloQualidadeSoftware"></p> 
                
                <img class="imagemRetangulo1"  src="img/—Pngtree—glasses the man cartoon cartoon_3923232.png" >
                <p class="qualidadeSoftware">A qualidade do seu software sempre será prioridade por isso sempre estarei procurando por novas tecnologias e ferramentas para que seja de qualidade e a entrega seja breve.</p>
            </h2>

            <h2 class="col-12 retangulo2">
                <p class="retanguloDisponibilidadeServico"></p>
                <img class="imagemRetangulo2"  src="img/—Pngtree—contact us 24 hours_5410729.png" >
                <p class="disponibilidadeServico">O meu serviço estará dispobível 24 horas por dia para que em qualquer inconviniência ou impedimento que acontecer o cliente possa entrar em contato.</p>

            </h2>

            <h2 class=" col-12 retangulo3">
                <p class="retanguloImpressao"></p>
                <img class="imagemRetangulo3"  src="img/—Pngtree—medical record cartoon cartoon medical_3920637.png" >
                <p class="servicoImpressao">O serviço de impressão oferece conveniência se algum dia você precisa de dados de impressão, apenas edite tudo e apenas imprima.</p>
            </h2>

            <h2 class="col-12 retangulo4">
                <p class="retanguloDedicacaoTrabalho"></p>
                <img class="imagemRetangulo4"  src="img/—Pngtree—computer monitor and padlock isometric_5251857.png" >
                <p class="dedicacaoTrabalho">O meu trabalho é dedicado ao cliente e sua seguerança por isso faremos de tudo para deixar o produto e informações do cliente com a maior proteção possível.</p>
            </h2>
        </div>  
    </div>
</div>
<!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>-->
</body>